/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
body{
    color: #58595b;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .025em;
    line-height: 1.5;
}
